.card {
    position: relative;
    height: calc(100vh - 46px);
    /* trừ bottom 46px */
    width: 100%;
    background: #000;
    overflow: hidden;
}

.video {
  width: 100%;
  height: auto;
  max-height: 100%;    /* không vượt quá chiều cao màn */
  object-fit: contain; /* giữ nguyên tỷ lệ */
  background: black;   /* phần thừa sẽ là màu đen */
}

/* overlay chứa VideoInfo + VideoActions */
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 46px;
    /* cách Bottom navigation */
}

/* hint play/pause */
.tapHint {
    position: absolute;
    top: 12px;
    left: 12px;
    color: white;
    font-size: 12px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

/* responsive màn hình ngắn */
@media screen and (max-height: 600px) {
    .card {
        height: calc(100vh - 46px);
    }

    .overlay {
        padding-bottom: 46px;
    }
}